*{
    --productbox-height: 23rem;
    --productbox-width: 17rem;
    --productbox-margins: 0.4rem;
    text-decoration: none;
    color: black;
}

.content-flexbox {
    display: inline-flex;
    flex-direction: row;
}

.content-wrapper {
    margin: var(--productbox-margins);
    padding: var(--productbox-margins);
    width: var(--productbox-width);
    height: auto;
    font-size: 1.5rem;
    background: #dddddd;
}

.content-image-wrapper {
    border-radius: 0.3rem;
    background: white;
    height: calc(var(--productbox-height) * 0.75);
}

.content-image {
    border-radius: 0.3rem;
    height: calc(var(--productbox-height) * 0.75);
    width: calc(var(--productbox-width) - (var(--productbox-margins)*2));
}

.content-desc-wrapper {
    border-radius: 0.3rem;
    margin-top: 0.4rem;
    background: white;
    height: calc(var(--productbox-height) * 0.25);
}

.content-desc-name, .content-desc-price {
    height: 50%;
}

.content-desc-name p, .content-desc-price p{
    padding-left: 0.3rem;
    text-decoration: none;
}

.content-desc-name {
    font-size: 1.2rem;
    font-family: 'Alata', sans-serif;
}

.content-desc-price {
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
}