.header-container{
  height: 7rem;
  width: 100%;
  background-image: url("../../assets/img/header_bg.jpg");
  background-color: antiquewhite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;

  --header-topbottom-padding: 0.5rem;
  --header-sides-padding: 3rem;
}

.header {
  align-self: center;
  background: var(--bg-color);
}

.header-link{
  text-decoration: none;
  border: none;
}

.header-link h1{
  color: white;
  font-size: 3rem;
  padding: var(--header-topbottom-padding) var(--header-sides-padding) var(--header-topbottom-padding) var(--header-sides-padding); /* top right bottom left */
  font-weight: 600;
  transition: color 0.1s ease;
}

.header-link:active{
  text-decoration: none;
  border: none;
}

.header-link:hover{
  cursor: pointer;
}

.header-link:hover h1{
  color: var(--link-hover);
}

.header-link::after{
  text-decoration: none;
  border: none;
}
