<section *ngFor="let item of dbProduct" class="content-flexbox">
    <ng-template [ngIf]="item" [ngIfElse]="loading">
        <div class="content-wrapper">
            <a href="/product/{{item._id}}">
                <div class="content-image-wrapper">
                    <img class="content-image" [src]="item.sys.img.url" alt="">
                </div>
                <div class="content-desc-wrapper">
                    <div class="content-desc-name">
                        <p>{{item.sys.name}}</p>
                    </div>
                    <div class="content-desc-price">
                        <p>{{item.sys.price.$numberDecimal}}$</p>
                    </div>
                </div>
            </a>
        </div>
    </ng-template>
    
    <ng-template #loading>
        <div class="loading">
            <p>Loading...</p>
        </div>
    </ng-template>
</section>
<!-- convert to angular component template aug 20th 2020-->