
.navbar-container{
  width: calc(100%);
  height: 2.5rem;
  border: 0.5rem solid var(--bg-color);
  --padding-height: 0.3rem;
  --transition-time: 100ms;
  --button-width: calc(100% / var(--number-of-buttons));
  --number-of-buttons: 7;
  --button-spacing: 1.7rem;
}

.navbar{
  height: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 100%;
  background: var(--bg-color);
}

.nav-item{
  background: var(--bg-color);
  width: auto;
  display: flex;
  justify-content: center;
  margin: 0 0.3rem 0 0.3rem;
  padding: var(--padding-height) var(--button-spacing) var(--padding-height) var(--button-spacing);
  /* border-bottom: var(--padding-height) solid var(--bg-color); */
}

.nav-item:last-child{
  margin-right: 0rem;
}

.nav-link{
  align-self: center;
  color: var(--link-color);
  text-decoration: none;
}

.nav-link::after{
  border: none;
  text-decoration: none;
}

.nav-item:hover{
  background: var(--bg-color-hover);
}
.nav-item:hover .nav-link{
  color: var(--link-hover);
  transition: color var(--transition-time) linear;
}
