
.navbar-container{
  width: calc(100%);
  height: 2.5rem;
  border-top: 0.5rem solid var(--nav-bg);
  border-bottom: 0.5rem solid var(--nav-bg);
  --bottom-border-height: 0.3rem;
  --li-spacing: 0.1rem;
  --transition-time: 100ms;
  --button-width: calc(100% / var(--number-of-buttons));
  --number-of-buttons: 4;
}

.navbar{
  height: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 100%;
  background: white;
}

.nav-item{
  background: var(--nav-bg);
  width: var(--button-width);
  display: flex;
  justify-content: center;
  margin-right: var(--li-spacing);
  padding: var(--bottom-border-height) 0 var(--bottom-border-height) 0;
  border-bottom: var(--bottom-border-height) solid var(--nav-bg);
}

.nav-item:last-child{
  margin-right: 0rem;
}

.nav-link{
  align-self: center;
  color: var(--link-color);
  text-decoration: none;
}

.nav-item:hover{
  /* border-bottom: #005f00 var(--bottom-border-height) solid; */
  border-bottom: var(--bottom-border-height) solid;
  border-image: linear-gradient(#1f1f1f, #005f00) 49%;
  transition: border var(--transition-time) linear;
}
.nav-item:hover .nav-link{
  color: var(--link-hover);
  transition: color var(--transition-time) linear;
}
