
.navbar{
  height: 100%;
  --bottom-border-height: 0.3rem;
  --nav-bg: #1f1f1f;
  --li-spacing: 0.1rem;
  --transition-time: 100ms;
}

.navbar-container{
  height: 2.5rem;
  width: 100vw;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 100%;
  background: white;
}

.nav-item{
  background: var(--nav-bg);
  width: 25%;
  display: flex;
  justify-content: center;
  margin-right: var(--li-spacing);
  padding-bottom: var(--bottom-border-height);
  border-bottom: var(--bottom-border-height) solid var(--nav-bg);
}

.nav-item:last-child{
  margin-right: 0rem;
}

.nav-link{
  align-self: center;
  color: var(--link-color);
  text-decoration: none;
}

.nav-item:hover{
  /* border-bottom: #005f00 var(--bottom-border-height) solid; */
  border-bottom: var(--bottom-border-height) solid;
  border-image: linear-gradient(#1f1f1f, #005f00) 49%;
  transition: border var(--transition-time) linear;
}
.nav-item:hover .nav-link{
  color: var(--link-hover);
  transition: color var(--transition-time) linear;
}
