<section class="content-container">
    <!-- render this if there is a response, and it is a dbProduct -->
    <ng-template [ngIf]="dbProduct" [ngIfElse]="loading">
        <div class="image greybg">
            <img [src]="dbProduct.sys.img.url" alt="">
        </div>
        <div class="etc greybg">
            <div class="name whitebg micropadding">
                <p>{{dbProduct.sys.name}}</p>
            </div>
            <div class="details whitebg micropadding">
                <p></p>
            </div>
            <div class="purchase whitebg micropadding">
                <p></p>
            </div>
        </div>
    </ng-template>

    <!-- render this when waiting for a response, then evaluate the response -->
    <ng-template #loading>
        <ng-template *ngIf="error then err">
            <div class="loading">
                <p>An error has occurred.</p>
            </div>
        </ng-template>
    </ng-template>

    <!-- render this if there is a server error -->
    <ng-template #err>
        <div class="loading">
            <p>Error</p>
        </div>
    </ng-template>

</section>