*{
    --innerbox-padding: 1rem;
    --microbox-padding: 0.4rem;
}

.content-container{
    /* margin: 0 5rem 0 5rem; */
    padding: 1.5rem;
    /* width: calc(100vw - var(--margins)); */
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
}

.image{
    height: 30rem;
    width: 30rem;
    float: left;
    text-align: center;
    display: block;
    margin-right: 1rem;
}

.image img{
    width: calc(100% - var(--innerbox-padding));
    height: calc(30rem - var(--innerbox-padding));
    top: 50%;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 0.3rem;
}

.name{
    height: calc(20% - var(--microbox-padding));
}

.details{
    height: calc(50% - var(--microbox-padding));
}

.purchase{
    height: calc(30% - var(--microbox-padding)*2);
}

.etc{
    height: 30rem;
    width: calc(35% - var(--innerbox-padding));
    float: right;
}

.greybg{
    background-color: #dddddd;
        border-radius: 0.3rem;
}

.whitebg{
    background-color: white;
    border-radius: 0.3rem;
}

.micropadding{
    margin: var(--microbox-padding);
}

.loading{
    width: 100%;
    height: 30rem;
    text-align: center;
    display: block;
    border-radius: 0.3rem;
    border: 0.4rem solid #dddddd;
    font-size: 3rem;
    font-family: 'Alata', sans-serif;
}

.loading p{
    position: relative;
    top: 50%;         
    transform: translate(0, -50%)
}