/* You can add global styles to this file, and also import other style files */
:root {
  font-size: 16px;
  font-family: "Open Sans";
  color: black;
  --page-bg: white;
  --link-visited: white;
  --link-hover: #008f00;
  --link-color: white;
}

* {
  padding: 0;
  margin: 0;
}

body{
  background: var(--page-bg);
}

app-root{
  width: 100vw;
  height: auto;
}

