/* You can add global styles to this file, and also import other style files */
:root {
  font-size: 16px;
  font-family: "Open Sans";
  padding: 0rem;
  margin: 0rem;
}

body{
  color: black;
  background-color: white;
}

.header-container{
  height: 7rem;
  width: 100vw;
  background-color: black;
  color: white;
}

.navbar-container{
  height: 5rem;
  width: 100vw;
  background: #2f4f4f;
  color: white;
}
